/************ CSS Reset ************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/************ Global Font ************/
body {
    font-family: 'Roboto', sans-serif;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

button:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a {
    outline: none;
}
/************ Custom Global container ************/
@media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
}

/************ Global Background Color Scheme ************/
.bg-white {
    background-color: #ffffff !important;
}

.bg-lightBlue {
    background-color: #f0f8ff !important;
}

.bg-black {
    background-color: black !important;
}
/************ Navigation Bar ************/
.navbar-nav {
    font-size: 1.5em;
}

.navbar-brand {
    font-size: 2.5em;
}
.navbar {
    box-shadow: none !important;
}
.navbar-nav > .nav-item > .nav-link {
    font-size: 1em;
}

/************ Hero Image ************/
.main-image {
    width: 100%;
    display: block;
    height: auto;


}
/************ Card boxes ************/
.info-card-wrap {
    display: flex;
}

.star-wrap {
    float: right;
    margin-left: auto;
}
/************ Landing Page CSS ************/
.container-space {
    padding: 2% 1% 2% 1%;
}

.no-margin {
    margin: 0;
}

.extra-pad {
    padding: 1% 1% 1% 1%;
}

.card-size {
    float: left;
    width: 370px;
    height: 370px;
    overflow: hidden;
}

.auto-size {
    float: left;
    width: 370px;
    height: 310px;
    background-size: cover;
}



/************ PASTRY PAGE CSS ************/
.pastry_text {
    font-size: 1.3em;
    line-height: 1.5;
}

.custom-font {
    font-weight: 600;
}

.star-box {
    padding: 0;
    border: none;
    background: none;
    font-size: 1.5em !important;
}
.recipe-steps {
    padding: 0.5em 0 0.5em 0;
}
.pastry-name {
    font-size: 2.5em;
    text-decoration: underline;
    padding: 0.5em 0 0 0;

}

.callout-margin {
    margin: 0 20% 0 20%;
    font-size: 1.5em;
}

.buffer-margin {
    margin: 5% 0 5% 0;
}

.pastry-h2 {
    font-size: 1.9em;
    font-weight: 600;
}
.star-wrap-pastry {
    text-align: center;
    padding: 2em 0 2em 0;
}

.ing-buffer {
    padding: 0 0 0.5em 0;
}

.portion-size {
    font-size: 1.4em;
    padding: 0 0 0.5em 0;
}
.portion-number {
    font-size: 2em;
    font-weight: 600;
    padding: 0 0 0.7em 0;
}
.card-body {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.button-placement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff !important;
    background-color: blue !important;
    -webkit-transition: background-color .3s, opacity .3s, visibility .5s;
    -o-transition: background-color .3s, opacity .3s, visibility .5s;
    transition: background-color .3s, opacity .3s, visibility .5s;
}

/************ UPDATE PASTRY PAGE CSS************/
.update-heading {
    font-size: 3em;
    margin: 10% 0 5% 0;
}

.strong-label {
    font-size: 1.3em;
    font-weight: 600 !important;
    padding: 2% 0 2% 0;
}

.update-margin{
    margin: 0 10% 0 10%;
}
/************ LOGIN AND REGISTER CSS************/
.credential-margin {
    margin: 0 25% 0 25%;
}

.login-heading{
    font-size: 3em;
    margin: 50% 0 5%;
    text-align: center;
}

.register-heading {
    font-size: 3em;
    margin: 30% 0 5%;
    text-align: center;
}
/************ ADMIN PORTAL CSS************/
.admin-name {
    font-size: 2.5em;
    margin: 10% 0 0 0;
}

.approval-name {
    font-size: 1.5em;
    margin: 5% 0 2% 0;
}

.admin-card {
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5;
}

/************ Footer ************/
.footer-container {
    background-color: currentColor;
    padding: 2% 0 2% 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.lower-footer {
    padding: 0 0 5% 0;
}