{% extends 'base.html' %} {% block content %}


<!--404 image-->
<section class="image-container container">
    <div class="row no-margin">
        <div class="col-12 no-pad">
            <div class="card">
                <img alt="Upset Person on Computer" class="main-image"
                     src="{{ url_for('static', filename='img/404-confusion.jpg')}}">
            </div>
        </div>
    </div>
</section>

<!--404 text-->
<section class="404-text">
    <div class="row no-margin">
        <div class="col-12 text-center no-pad">
            <h1 class="error-header"><span>404</span> Seems you got lost </h1>
            <h1 class="error-direction">Click The Happy Bun to get back to home page </h1>
        </div>
    </div>
</section>

{% endblock %}