{% extends 'base.html' %} {% block content %}

<!--Add Pastry section-->
<div class="container">

    <div class="row recipe-space">
        <div class="col-12">
            <h3 class="recipe-heading">Create Recipe</h3>
            <form action="{{ url_for('insert_pastry')}}" method="POST" class="full-form">
                <div class="form-group card card-body bg-lightBlue">
                    <!--                    URL label and input-->
                <label id="urlLabel" class="strong-label">Photo URL</label>
                <input id="imageUrl" name="imageUrl" type="text" class="validate form-control" placeholder="Valid URL: https://worlds-best-chocolate-cake.com/etc">
                    <!--                    Recipe name label and input-->
                <label id="pastryNameLabel" class="strong-label">Pastry Name</label>
                <input id="recipe_name" name="recipe_name" type="text" class="validate form-control" placeholder="Chocolate Cake">
                    <!--                     Callout label and input-->
                <label id="calloutLabel" class="strong-label">Callout Text</label>
                <input id="recipe_callout" name="recipe_callout" type="text" class="validate form-control" placeholder="World's best Chocolate cake">
                    <!--                      Portions label and input-->
                <label id="portionLabel" class="strong-label">Portions</label>
                <input id="recipe_portions" name="recipe_portions" type="text" class="validate form-control" placeholder="10">
                    <!--                       Ingredients label and input-->
                <label id="ingredientsLabel" class="strong-label">Ingredients</label>
                <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate form-control" placeholder="Place comma between ingredients: 1 Tsp Sugar, 1L Milk ">
                    <!--                       How to label and input-->
                <label id="howToLabel" class="strong-label">How To</label>
                <input id="recipe_howTo" name="recipe_howTo" type="text" class="validate form-control" placeholder="Place comma between actions: Preheat oven to 220 degrees, Mix the dry ingredients">
                    <small class="text-space text-muted">All submissions will go through Admin approval before displayed on the website.</small>
                </div>
                    <!--                       Submission button-->
            <button id="submitForm" type="submit" name="action" class="btn btn-outline-success">Create</button>
        </div>
        </form>
    </div>
</div>


{% endblock %}