{% extends 'base.html' %} {% block content %}
<!--    callout image-->
<div class="section image-container container">
    <div class="row">
        <div class="col-12">
            <img class="main-image" src="{{ url_for('static', filename='img/homepage.jpg')}}">
        </div>
    </div>
</div>

<div class="section container container-space">
    <div class="row">
        {% for url in imageDB %}
        {% if url.approved == true %}
        <div class="col-4 extra-pad">
            <div class="card card-size card-box cooking-img">
                <a href="{{url_for('viewBake',task_id=url._id)}}" class="link-wrap">
                    <img class="auto-size" src="{{url.url}}"></a>
                <div class="card-body">
                    <div class="card-text ">
                        <div class="info-card-wrap">
                            <p>{{url.name}}</p>
                            <div class="star-wrap">
                                {% for star in range(url.totalStarValue) %}
                                <span id="starRating_{{i}}" class="fas fa-star bg-blue star-box"></span>
                                {%endfor%}
                                {% for empty in range(5 - url.totalStarValue)%}
                                <span id="starRating_{{i}}" class="far fa-star bg-blue star-box"></span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% if session.user %}
<a class="add-button btn btn-outline-dark fas fa-plus icon-size" href="{{url_for('add_pastry')}}" role="button"></a>
{%endif%}

{% endblock %}

