{% extends 'base.html' %} {% block content %}
<!--    callout image-->
<div class="section image-container container">
    <div class="row">
        <div class="col-12">
            <img class="main-image" src="{{ url_for('static', filename='img/homepage.jpg')}}">
        </div>
    </div>
</div>

<div class="container container-padding">
    <div class="row">
        <div class="col-2">
            <div class="dropdown menu-border">

                <button class="btn btn-secondary dropdown-toggle w-100 no-border" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{filterName}}
                </button>
                <div class="dropdown-menu menu-border" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{url_for('sort_by_rating')}}">Highest Rating {% set name = 'Highest
                        Rating' %}</a>
                    <a class="dropdown-item" href="{{url_for('recipes')}}">Unsorted</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section container container-space">
    <div class="row">
        {% for url in imageDB%}
        {% if url.approved == true %}
        <div class="col-4 extra-pad">
            <div class="card card-size card-box cooking-img">
                <a href="{{url_for('viewBake',task_id=url._id)}}" class="link-wrap">
                    <img class="auto-size" src="{{url.url}}"></a>
                <div class="card-body">
                    <div class="card-text ">
                        <div class="info-card-wrap">
                            <p>{{url.name}}</p>
                            <div class="star-wrap">
                                {% for star in range(url.totalStarValue) %}
                                <span id="starRating_{{i}}" class="fas fa-star bg-blue star-box"></span>
                                {%endfor%}
                                {% for empty in range(5 - url.totalStarValue)%}
                                <span id="starRating_{{i}}" class="far fa-star bg-blue star-box"></span>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<section class="suggested-recipes container">
    <div class="row">
        <div class="col-12">
            <div class="divider txt-blue">
                <h2 class="text-center popular-recipe txt-blue"><span>Newest Recipe</span></h2>
            </div>
        </div>
    </div>
</section>

{% for url in displayImg%}
<section class="highest-rated container">
    <div class="row">
        <div class="col-6">
            <div class="card card-box top-rated-card">
                <img class="top-pastry-img" src="{{url.url}}">
            </div>
        </div>
        <div class="col-6 text-center">
            <h3 class="n-recipe-heading">{{url.name}}</h3>
            <p class="n-callout">{{url.callout}}</p>
            <div class="n-star-wrap">
                {% for star in range(url.totalStarValue) %}
                <span id="starRating_{{i}}" class="fas fa-star bg-blue n-star-box"></span>
                {%endfor%}
                {% for empty in range(5 - url.totalStarValue)%}
                <span id="starRating_{{i}}" class="far fa-star bg-blue n-star-box"></span>
                {%endfor%}
            </div>
            {%if url.totalVotes == 0%}
            <P class="n-vote-text">Be the first to vote!</P>
            <P class="n-visit-text">Click the image to visit the recipe</P>
            {%endif%}

        </div>
    </div>
</section>
{%endfor%}



{% if session.user %}
<a class="add-button btn btn-outline-dark fas fa-plus icon-size" href="{{url_for('add_pastry')}}" role="button"></a>
{%endif%}

{% endblock %}

