{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="row credential-margin">
        <div class="col-12">
            <h3 class="login-heading">Login</h3>
            <form action="{{ url_for('insert_pastry')}}" method="POST" class="full-form">
                <div class="form-group card card-body bg-lightBlue">
                    <label class="strong-label">Email</label>
                    <input id="pastry_name" name="pastry_name" type="email" placeholder="Email" class="validate form-control">

                    <label class="strong-label">Password</label>
                    <input id="pastry_callout" name="pastry_callout" type="password" placeholder="Type your Password" class="validate form-control">


                </div>
                <button type="submit" name="action" class="btn btn-outline-success">Login</button>

        </div>
        </form>
    </div>
</div>


{% endblock %}