{% extends 'base.html' %} {% block content %}

<!--Login Container-->
<section class="login container">
    <div class="row credential-margin">
        <div class="col-12">
            <h3 class="login-heading">Login</h3>
            <form action="/user_auth" method="POST" class="full-form">
                <div class="login-box form-group card card-body bg-lightBlue">
<!--                    Username input-->
                    <label class="strong-label">Username</label>
                    <input name="username" type="text" placeholder="Username" class="validate form-control" required>
<!--                    Password input-->
                    <label class="strong-label">Password</label>
                    <input name="user_password" type="password" placeholder="Type your Password"
                           class="validate form-control" required>

                </div>
                <button type="submit" name="action" class="btn btn-outline-success">Login</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}