{% extends 'base.html' %} {% block content %}

<div class="container">

    <div class="row credential-margin">
        <div class="col-12">
            <h3 class="login-heading">Login</h3>
            <form action="/user_auth" method="POST" class="full-form">
                <div class="form-group card card-body bg-lightBlue">
                    <label for="username" class="strong-label">Username</label>
                    <input  name="username" type="text" placeholder="Username" class="validate form-control" required>

                    <label for="user_password" class="strong-label">Password</label>
                    <input name="user_password" type="password" placeholder="Type your Password" class="validate form-control" required>


                </div>
                <button type="submit" name="action" class="btn btn-outline-success">Login</button>

        </div>
        </form>
    </div>
</div>


{% endblock %}