{% extends 'base.html' %} {% block content %}

<div class="container-fluid bg-lightBlue">
    <div class="section image-container container">
        <div class="row">
            <div class="col-12">
                <img class="main-image" src="{{task.url}}">
            </div>
        </div>
    </div>
</div>

<section class="food-headline description">

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="food-text text-center">{{task.name}}</h1>
                {% for names in task %}
                {{names.name}}
                {% endfor %}
                <div class="star-wrap-middle">
                    <a class="far fa-star"></a>
                    <a class="far fa-star"></a>
                    <a class="far fa-star"></a>
                    <a class="far fa-star"></a>
                    <a class="far fa-star"></a>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-5 text-center card bg-lightBlue">
                <h2 class="global-h2">Ingredients</h2>
                <h3 class="portion-size">Number of portions</h3>
                <h3 class="portion-number">{{task.portions}}</h3>

                <ul class="list-group list-group-flush">
                    {% for content in task.ingredients %}
                    <li class="list-group-item bg-lightBlue">{{content}}</li>
                    {%endfor%}


                </ul>
            </div>
            <div class="col-6 text-center">
                <h2 class="global-h2">This is how you do it</h2>
            </div>
        </div>
    </div>
</section>

{% endblock %}