{% extends 'base.html' %} {% block content %}


<div class="container">

    <div class="row update-margin">
        <div class="col-12">
            <h3 class="update-heading">Update {{pastry_details.name}} Recipe</h3>
            <form action="{{ url_for('update_pastry', task_id=pastry_details._id)}}" method="POST" class="full-form">

                <div class="form-group card card-body bg-lightBlue">

                    <label class="strong-label" for="exampleInputEmail1"> Image URL</i></label>
                    <input id="pastry_url" name="pastry_url" type="text" class="validate form-control"
                           value="{{pastry_details.url}}">

                    <label class="strong-label" for="exampleInputPassword1">Pastry Name</label>
                    <input id="pastry_name" name="pastry_name" type="text" class="validate form-control"
                           value="{{pastry_details.name}}">

                    <label class="strong-label for="exampleInputPassword1">Callout Text</label>
                    <input id="pastry_callout" name="pastry_callout" type="text" class="validate form-control"
                           value="{{pastry_details.callout}}">

                    <label class="strong-label" for="exampleInputPassword1">Portions</label>
                    <input id="pastry_portions" name="pastry_portions" type="text" class="validate form-control"
                           value="{{pastry_details.portions}}">

                        <label class="strong-label" for="exampleInputPassword1">Ingredients</label>
                        <input id="pastry_ingredients" name="pastry_ingredients" type="text" class="validate form-control"
                               value="{{pastry_details.ingredients|join(', ')}}">

                    <label class="strong-label" for="exampleInputPassword1">How To</label>
                    <input id="pastry_howTo" name="pastry_howTo" type="text" class="validate form-control"
                           value="{{pastry_details.howTo|join(', ')}}">
            </div>
            <button type="submit" name="action" class="btn btn-outline-success">Update</button>
        </div>
        </form>
    </div>
</div>


{% endblock %}