{% extends 'base.html' %} {% block content %}

<!--Generated Image from MongoDB-->
<section class="images container-fluid bg-lightBlue">
    <div class="section image-container container">
        <div class="row">
            <div class="col-12 no-pad">
                <div class="card card-full-size card-box">
                    <img class="pastry-img img-fluid" src="{{recipe_data.imageUrl}}">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Recipe details-->
<section class="food-headline description container">
    <div class="row">
        <div class="col-12">
            <h1 class="pastry-name text-center">{{recipe_data.name}}</h1>
            {% for ingredient in recipe_data %}
            {{ingredient.name}}
            {% endfor %}
            <div id="star-wrap" class="star-wrap-pastry">
                <button id="enable-overlay" class="overlay-star-layer bg-fa">
                    {% for star in range(recipe_data.totalStarValue) %}
                    <span id="starRating_{{i}}" class="fas fa-star bg-blue star-box"></span>
                    {%endfor%}
                    {% for empty in range(5 - recipe_data.totalStarValue)%}
                    <span id="starRating_{{i}}" class="far fa-star bg-blue star-box"></span>
                    {%endfor%}
                </button>
                <span class="tV-font"> ({{recipe_data.totalVotes}})</span>
            </div>
<!--            If user is not author they can vote-->
            {% if session.user != recipe_data.author %}
            <div id="overlay">
                <div class="card-body overlay-content bg-fa">
                    <button id="disable-overlay" class="fas fa-times leave-button bg-fa bg-blue"></button>
                    <form method="POST" action="{{ url_for('insert_rating', task_id=recipe_data._id)}}">
                        <div id="star-wrap" class="star-wrap-pastry">
                            <p class="star-review-callout">Please leave a star review</p>
                            <div id="star-box">
                                {% for star in range(1, 6) %}
                                <button type="submit" id="starRating_{{star}}" name="submit_rating"
                                        value="starRating-{{star}}" aria-label="rating-button"
                                        class="far fa-star bg-blue star-box"></button>
                                {%endfor%}

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {%endif%}
<!--            Check if user is author before allowing to vote-->
            {% if session.user == recipe_data.author %}
            <div id="overlay">
                <div class="card-body overlay-content bg-fa">
                    <button id="disable-overlay" class="fas fa-times leave-button bg-fa bg-blue"></button>
                    <div id="star-wrap" class="star-wrap-pastry">
                        <p class="star-review-callout">You can't rate your own submission.</p>
                    </div>
                </div>
            </div>
            {%endif%}
<!--            Shows star rating-->
            <p class="text-center callout-margin">{{recipe_data.callout}}</p>
            <div class="text-center">
                <p class="text-buffer">Author: {{recipe_data.author}}</p>
                {% if recipe_data.lastUpdateDate == 0 %}
                <p class="text-buffer">Created on: {{recipe_data.createDate}}</p>
                {%endif%}
                {% if recipe_data.lastUpdateDate != 0%}
                <p class="text-buffer">Updated on: {{recipe_data.lastUpdateDate}}</p>
                {%endif%}

            </div>
            <hr class="buffer-margin">
        </div>
    </div>
<!--    Recipe box-->
    <div class="row recipe-box">
        <div class="col-sm-12 col-md-5 col-xl-5 text-center card-body bg-lightBlue">
            <h2 class="pastry-h2 ing-buffer">Ingredients</h2>
            <h3 class="portion-size">Number of portions</h3>
            <h3 class="portion-number">{{recipe_data.portions}}</h3>
            {% for content in recipe_data.ingredients %}
            <p class="card-text pastry_text">{{content}}</p>
            <hr>
            {%endfor%}

        </div>
<!--        Recipe to do steps-->
        <div class="col-sm-12 col-md-5 offset-md-2 col-xl-5 offset-xl-2">
            <h2 class="pastry-h2">This is how you do it</h2>
            <ol class="text-left pastry_text">
                {% for steps in recipe_data.howTo%}
                <li class="recipe-steps">{{steps}}</li>
                {%endfor%}
            </ol>
        </div>
    </div>
</section>
<!--Checks if user in session or admin in session-->
{% if session.user == recipe_data.author or session.user == "Administrator" %}
<a class="delete-button btn btn-outline-dark fas fa-trash"
   href="{{url_for('delete_recipe', task_id=recipe_data._id)}}" role="button"></a>
<a class="add-button btn btn-outline-dark fas fa-pen" href="{{url_for('edit_recipe', task_id=recipe_data._id)}}"
   role="button" id="update"></a>
{% endif %}


{% endblock %}