{% extends 'base.html' %} {% block content %}


<div class="container">
    <h3 class="update-heading">Update {{pastry_details.name}} Recipe</h3>
    <div class="row">
        <form class="full-form">
            <div class="form-group">
                <label for="exampleInputEmail1">Image URL</label>
                <input type="text" class="form-control" aria-describedby="emailHelp">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Pastry Name</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Callout Text</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group text-left small-form">
                <label for="exampleInputPassword1">Portions</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Ingredients</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">How To</label>
                <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="button" class="btn btn-outline-success">Update</button>
        </form>
    </div>
</div>


{% endblock %}