{% extends 'base.html' %} {% block content %}

<!--Generated Image from MongoDB-->
<div class="container-fluid bg-lightBlue">
    <div class="section image-container container">
        <div class="row">
            <div class="col-12">
                <img class="main-image" src="{{pastry_details.url}}">
            </div>
        </div>
    </div>
</div>


<section class="food-headline description">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="pastry-name text-center">{{pastry_details.name}}</h1>
                {% for ingredient in pastry_details %}
                {{ingredient.name}}
                {% endfor %}
                <form method="POST" action="{{ url_for('insert_rating', task_id=pastry_details._id)}}">
                    <div id="star-wrap" class="star-wrap-pastry">
                        {% set count = namespace(value=0) %}
                        {% for star in range(pastry_details.totalStarValue) %}
                        {% set count.value = count.value + 1 %}
                        {{ count.value }}
                        <button type="submit" id="starRating_{{count.value}}" name="submit_rating" value="starRating-{{count.value}}" aria-label="rating-button" class="fas fa-star bg-blue star-box"></button>
                        {%endfor%}
                        {% for empty in range(5 - pastry_details.totalStarValue)%}
                        {% set count.value = count.value + 1 %}
                        <button type="submit" id="starRating_{{count.value}}" name="submit_rating" value="starRating-{{count.value}}" aria-label="rating-button" class="far fa-star bg-blue star-box"></button>
                        {%endfor%}
                        <span class="tV-font"> ({{pastry_details.totalVotes}})</span>
                    </div>
                </form>
                <p class="text-center callout-margin">{{pastry_details.callout}}</p>
                <p class="text-center">
                    <small>Author: {{pastry_details.author}}</small>
                </p>
                <hr class="buffer-margin">
            </div>
        </div>
        <div class="row lower-footer">
            <div class="col-5 text-center card-body bg-lightBlue">
                <h2 class="pastry-h2 ing-buffer">Ingredients</h2>
                <h3 class="portion-size">Number of portions</h3>
                <h3 class="portion-number">{{pastry_details.portions}}</h3>
                {% for content in pastry_details.ingredients %}
                <p class="card-text pastry_text">{{content}}</p>
                <hr>
                {%endfor%}

            </div>
            <div class="offset-2 col-5 ">
                <h2 class="pastry-h2 text-center">This is how you do it</h2>
                <ol class="text-left pastry_text">
                    {% for steps in pastry_details.howTo%}
                    <li class="recipe-steps">{{steps}}</li>
                    {%endfor%}
                </ol>
            </div>
        </div>
    </div>
</section>

{% if session.user == pastry_details.author or session.user == "Administrator" %}
<a class="btn btn-outline-dark" href="{{url_for('delete_pastry', task_id=pastry_details._id)}}" role="button">Delete</a>
<a class="button-placement btn btn-outline-dark" href="{{url_for('edit_pastry', task_id=pastry_details._id)}}"
   role="button" id="update">Update</a>
{% endif %}


{% endblock %}